name: Update Check Run

on:
  workflow_dispatch:
    inputs:
      target-repo:
        description: 'Target repository name'
        required: true

permissions:
  actions: write
  checks: write
  contents: read

jobs:
  update-check-run:
    runs-on: ubuntu-latest

    steps:
      - name: Update check run
        uses: ajax-yurkovskyi-t/test-gh-app/.github/actions/update-check-run@feature/empty
        with:
          target-repo: ${{ inputs.target-repo }}
          check-run-name: Test Coverage
          conclusion: success
          title: No title
          summary: No summary
          text: Some text
